<!DOCTYPE html>
<html>
	<head>
		<script src="/socket.io/socket.io.js"></script>
		<script type = "text/javascript" src = "chatclient.js">
		</script>
	</head>
	<body>
		Join Chatroom:<br>
		<input type = "radio" name = "chatroom" value = "all">all<br>
		<input type = "radio" name = "chatroom" value = "intro">intro<br>
		<input type = "radio" name = "chatroom" value = "testing">testing<br>
		As User:
		<input id = "username">
		<button id = "joinChatRoom" type = "button"> Join!</button>
		<div id = "chatWindow" style = "display:none">
			Participants:
			<div id = "participants">
			</div>
			<br>
			<div id = "chatMessages">
			</div>
			<input id = "messageInput">
			<button id = "submitMessage" type = "button">Send</button>
		</div>
	</body>
</html>
